*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image:url("background.jpg");
  background-size: cover;
}

.container{
  background-color: rgba(31, 25, 12, 0.6);
  width: 1000px;
  height: 650px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

img{
  width: 150px;
}

header{
  text-align: center;
  color: #00dd00;
  padding: 25px;
}

nav{
  text-align: center;
  background-color: #00dd00;
  padding: 10px;
  width: 80%;
  margin:auto;
}

h3{
  display: inline-block;
}
.monopattino{
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

#stato-gino{
  width: 40%;
  background: #f5b453;
  border: 10px solid #f5b453;
  border-radius: 5px;
}
#stato-mike{
  width: 60%;
  background: #1ec31e;
  border: 10px solid #1ec31e;
  border-radius: 5px;
}

#stato-fede{
  width: 20%;
  background: #be4141;
  border: 10px solid #be4141;
  border-radius: 5px;
}
